@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Merriweather&family=Grape+Nuts&family=Alata&&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div[data-overlay-container] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

svg {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
  background-color: #F2ECD3;
}
.selected-comment-node {
  background-color: #E5D9A7;
}
.analytics {
  background-color: #EDABB7;
  color: #EDABB7;
}
.short-sentence {
  background-color: #C0CFD8;
  color: #C0CFD8;
}
.medium-sentence {
  background-color: #e5d9a7;
  color: #e5d9a7;
}
/* .comment {
  background-color: rgb(126, 255, 251);
} */
/* text formatting style in editor */
.editor-text-underline {
  text-decoration: underline;
}
.editor-text-italic{
  font-style: italic;
}

/* toolbar styles */
.toolbar {
  width: 100%;
  position: sticky;
  background-color: #FFFFFF;
}

div#__next {
  height: 100%;
}

.editor-title, .editor-placeholder {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: normal;
}

/* nextUI overrides */
.nextui-checkbox-label {
  margin-top: 0px !important;
}

.editor-listitem {
  list-style-type: disc;
}
ul {
  list-style-type: disc !important;
}
ul ul {
  list-style-type: circle !important;
}
ul ul ul{
  list-style-type: square !important;
}
.editor-nested-listitem{
  list-style-type: none !important;
}
.nextui-collapse-view {
  padding: 0 !important;
}
.nextui-collapse-content {
  padding: 0 !important;
}
.nextui-collapse {
  border-bottom: none !important;
}
.editor-paragraph {
  letter-spacing: 0;
  min-height: 1.5em;
}
.published-editor-paragraph {
  letter-spacing: 0;
}
.published-editor-paragraph:first-child::first-letter {
  font-size: 3em;
  font-weight: bold;
  line-height: 0.8;
  float: left;
  margin-right: 0.1em;
  margin-left: -0.1em;
  margin-bottom: -0.1em;
  padding-top: 0.2em;
}
.published-editor-paragraph:last-child::after {
  content: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 144 146" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M70.1333 1.80014C66.1333 2.4668 59.2 4.86681 54.8 7.00014C27.4667 20.4668 13.8667 49.1335 21.6 76.8668C23.4667 83.5335 25.3333 86.3335 32.4 93.5335C37.0667 98.3335 39.4667 100.333 37.7333 97.9335C31.2 88.6001 30 86.3335 30.6667 84.6001C31.0667 83.6668 30.8 83.1335 30.1333 83.5335C29.4667 83.9335 28.9333 83.0001 28.9333 81.2668C28.9333 79.6668 28.2667 75.6668 27.3333 72.3335C23.6 58.0668 31.4667 37.2668 45.2 24.6001C64.8 6.60014 95.7333 4.33347 115.867 19.5335C124.933 26.3335 125.2 25.5335 117.067 15.5335C111.867 9.13348 100.533 3.53348 89.0667 1.66681C80.4 0.200142 80 0.200142 70.1333 1.80014Z" fill="%23E5D9A7"/><path d="M112.267 24.2001C118.667 28.8667 126.267 37.8001 125.467 39.8001C125.2 40.6001 126.667 44.7334 128.8 49.1334C132.667 57.1334 133.733 63.0001 131.333 63.0001C130.667 63.0001 130 62.3334 130 61.5334C130 59.5334 124.4 46.8667 123.733 47.4001C123.467 47.8001 123.867 49.4001 124.533 51.1334C127.067 57.4001 127.733 59.6667 127.6 60.6001C127.467 61.1334 127.867 64.3334 128.533 67.9334C129.867 74.6001 128.267 88.2001 126.267 89.5334C125.6 89.9334 123.733 93.0001 122 96.2001C120.4 99.5334 116 105.4 112.133 109.4C90.9333 131.8 56.4 131.533 32.5333 108.733C12.8 89.9334 8.93333 61.5334 22.5333 33.8001C25.2 28.3334 27.3333 23.6667 27.3333 23.4001C27.3333 19.5334 10.8 35.0001 6.79999 42.6001C5.59999 45.0001 3.73333 50.6001 2.66666 55.2667C-4.66667 86.4667 8.53333 119.133 34.6667 134.467C64 151.667 98.1333 147.933 122 125C132.267 115 138.267 104.733 141.333 92.2001C145.467 74.3334 143.467 59.9334 134.667 46.2001C126.267 32.8667 123.867 30.0667 115.867 25.0001C107.067 19.4001 104.933 18.8667 112.267 24.2001Z" fill="%237194A8"/><path d="M118.667 33.9334C121.6 37.4001 124.133 39.9334 124.533 39.5334C124.933 39.2667 122.533 36.3334 119.467 33.2667L113.6 27.6667L118.667 33.9334Z" fill="%235C6192"/></svg>');
  width: 10px;
  margin-left: 8px;
  display: inline-block;
}
/* 
#note-scrolling-container::-webkit-scrollbar{
  display: none;
} */
.hide-scrollbar::-webkit-scrollbar {
  opacity: 0;
}

.fill-safari-view-height {
  /* height: -webkit-fill-available !important; */
  overflow-y: hidden;
}

.chat-bubble {
  padding:16px 16px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display:inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #747474 ;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color:#747474;
  }
  28% {
    transform: translateY(-7px);
    background-color:#9e9e9e;
  }
  44% {
    transform: translateY(0px);
    background-color: #bbbbbb;
  }
}
